form{
    width: 90%;
    margin: auto;
    padding: auto;
}

h5{
   padding-top: 25px; 
   padding-left: 10px;
   
}





.header {
    display: flex;
    align-items: center;
    margin-bottom: 20px; /* Add spacing between the header and the form */
  }
  
 