@import "../index.css";

.card_container {
  padding: 10px;
  background-color: var(--text);
  max-width: max-content;
  display: block;
 
  
}

#card_row{
  margin: auto;
  display: inline-block;

}
#cardButton{
  background-color: var(--back);
}